.button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
    width: 100%;
    padding: 14px 22px 15px 18px;
    position: relative;
    &-icon {
        position: absolute;
        right: 9px;
        top: 10px;
    }
    &-pick-up {
        margin-top: 26px;
    }
}

//form entry button
.button-form-create,
.button-form-entry {
    max-width: 99px;
    width: 99px;
    color: #BC9CFF;
    background: #fff;
    border: 1px solid #BC9CFF;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0;
}